*{
    font-family: 'Noto Sans', sans-serif;
}
header
{
    text-align: center;
}

.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 28%;
    width: 45vw;
}

.table-data
{
    display: flex;
    justify-content: center;
    margin-top:2rems ;
}

table, th, td {
    margin-top: 2rem;
    border: 1px solid black;
    padding: 1rem;
  }