*{
    font-family: 'Noto Sans', sans-serif;
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
header
{
    text-align: center;
}

.main
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 28%;
    width: 45vw;
}

.table-data
{
    display: flex;
    justify-content: center;
    margin-top:2rems ;
}

table, th, td {
    margin-top: 2rem;
    border: 1px solid black;
    padding: 1rem;
  }